.continer{
    margin: 50px 0;
}
.card{
    margin: 0 2% !important;
}
.confirmed{
   border-bottom: 10px solid rgba(255, 0,0, 0.5);
}

.recovred{
    border-bottom: 10px solid rgba(0, 255,0, 0.5);;
 }

 .death{
    border-bottom: 10px solid black;
 }

